@use '../base/variables' as *;

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }

  main {
    background-color: $light;
    padding-bottom: 66px;
  }
  
  .container-content {
    padding: 0 200px;
    @media only screen and (max-width:1200px){
      padding: 0 100px;
  }
  }
  
  .bold {
    font-weight: bold;
  }
  .uppercase {
    text-transform: uppercase;
  }
  
  .center {
    text-align: center;
  }
  
  .color-orange {
    color: $light-orange;
  }
  
  .dotted {
    border-bottom: $light-orange dotted 2px;
    padding-bottom: 2px;
  }
  
  .black-background {
    background-color: $black;
    color: $white;
  }
  
  .align-justify {
    text-align: justify;
  }
  
  