$light: #F2F2F2;
$black: #000000;
$dark: #1D1D1B;
$light-orange: #E84D0F;
$dark-orange: #E84E0E;
$red: #EA1C0A; 
$white: #FFFFFF;
$dark-grey: #464646;
$light-grey: #999999;

/*$main-background: #F2F2F2;
$black: #000000;
$nav-base: #1D1D1B;
$nav-active: #E84D0F;
$news-bar: #E84E0E;
$button: #EA1C0A; 
$white: #FFFFFF;
$tooltip-background: #464646;
$text-light: #999999;*/